<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Added both names to avoid mismatch between project and output config -->
    <add name="Cine" connectionString="Data Source=DESKTOP-MK64MQI\SQLEXPRESS;Initial Catalog=Cine;Integrated Security=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    <add name="CineDb" connectionString="Data Source=DESKTOP-MK64MQI\SQLEXPRESS;Initial Catalog=Cine;Integrated Security=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
